<!DOCTYPE html>
<html lang="en">
<head>
    <title>Youth (juveniles) in Philadelphia Adult Jails: {{ title }}</title>
    <link rel="stylesheet" href="/static/style/yasp.css" />
    <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111861101-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111861101-2');
    </script>
    </head>
<body>
    
    {% block title %}{% endblock %}
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}

<nav>
<a href="/">Home</a> |
<a href="/history">Historical Census</a> |
<a href="https://github.com/ptvirgo/yasp_counter">Source Code on GitHub</a>

</nav>
</body>
</html>
