<!DOCTYPE html>
<html lang="en">
<head>
    <title>Youth (juveniles) in Philadelphia Adult Jails: {{ title }}</title>
    <link rel="stylesheet" href="/static/style/yasp.css" />
    <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
</head>
<body>
    
    {% block title %}{% endblock %}
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}

<nav>
<a href="/">Home</a> |
<a href="/history">Historical Census</a> |
<a href="https://github.com/ptvirgo/yasp_counter">Source Code on GitHub</a>

</nav>
</body>
</html>
